.banner {
  overflow: hidden;
  background: url("../../../assets/bannerbg.png") no-repeat center center /
    cover;
}

.edurow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.educolumn-6 {
  padding: 0 20px;
  max-width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 698px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.description {
  max-width: 487px;
}

.banner .media {
  z-index: 1;
  width: 100vw;
  max-height: 670px;
  position: relative;
}

.banner .img-fluid {
  width: 100%;
}

.overlay-1 {
  top: 80px;
  left: -60px;
  z-index: -1;
  position: absolute;
}

.notification {
  width: 340px;
  height: 174px;
  bottom: 120px;
  left: -150px;
  background: #ffffff;
  position: absolute;
  z-index: 1;
  padding: 30px;
}

.notification h5 {
  margin-bottom: 10px;
}
.notification span {
  color: #704fe6;
}

.content-title {
  color: #704fe6;
  margin-bottom: 10px;
}

.content .title {
  color: #17254e;
  font-weight: bold;
  margin-bottom: 15px;
}

.content .description p {
  color: #333931;
  margin-bottom: 20px;
}

.banner .btn {
  height: 70px;
  background: #17254e;
}
.banner .btn .circle {
  width: 70px;
  height: 70px;
  background: #1f3061;
}
.btn-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  position: relative;
}
.image-layout {
  margin-left: 220px;
  z-index: -1;
  position: absolute;
}

@media (max-width: 1199px) {
  .image-layout {
    display: none;
  }

  .notification{
    display: none;
  }
}

@media (max-width: 991px) {
  .description {
    max-width: 387px;
  }

  .content-title {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .educolumn-6 {
    max-width: 100%;
  }

  .media {
    width: 100%;
  }

  .banner .btn {
    margin-bottom: 30px;
  }

  .media {
    right: -60px;
  }

  .sub-title {
    margin-top: 20px;
  }
  .banner .btn {
    height: 60px;
  }
  .banner .btn .circle {
    width: 60px;
    height: 60px;
  }
}
